body {
	width: 100%;
	margin: 0;
	background: #FFF;
	font-family: helvetica, sans-serif;
	overflow: hidden;
}

canvas {
	width: 100%;
	position: absolute;
}

h2{ font-size: 0.7em; font-weight: normal; letter-spacing: 0.1em;}
ul{
	margin: 0;
 padding:0;

}

.buttons-anim {
	width:90%;
	margin:auto;
}

.buttons-anim li {
	display: inline-block;
	list-style: none;
}

.buttons-anim .button{
	width: auto;
	background-color: blue;
	padding: 1px 20px;
	cursor: pointer;
	color: #FFF;

}